@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vw;
    margin: 10px;
    background-color: #f9fafb;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

h1 {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
}

p {
    padding-top: 10px;
}

div.overflow-y-auto::-webkit-scrollbar {
    width: 10px;
}

div.overflow-y-auto::-webkit-scrollbar-track {
    background: #f9fafb;
    border-radius: 8px;
}

div.overflow-y-auto::-webkit-scrollbar-thumb {
    background: #525252;
    border-radius: 9px;
}
